/*
	Knative colors
	Dark Blue: #0865ad
	Light Blue: #6695ca

*/


html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #fff;
}

#wrapper {
	padding: 0;
	margin: 0;
	height: 100%;
	text-align: center;
	widows: 100%;
}

#page-header {
	padding: 0;
	margin: 10px 0 0 0;
}

#page-header-image {
	border: 0;
}

#page-header-title {
	color: #999;
	font-weight: 300;
	font-size: 2em;
}

#middle-section {
	margin: 30px 0 0 0;
	padding: 10px;
	background-color: #0865ad;
	height: 450px;
	overflow: auto;
}

#middle-section-view {
	margin: 30px 0 0 0;
	padding: 10px;
	overflow: auto;
}

#middle-section-view div {
	margin: 10px;
}

#middle-section div {
	margin: 10px;
}

#middle-section img {
	border: 2px solid #fff;
	margin: 0;
	padding: 0;
}

#page-footer {
	widows: 80%;
	margin: 50px 0 0 0;
	color: #666;
	font-size: 1.2em;
}

#eventmsg {
	padding: 5px;
	height: 40px;
	color: white;
}

#eventlog {
	background-color: white;
	padding: 5px;
	height: 300px;
	overflow: auto;
}

.error {
	color: red;
}

.item {
	padding: 3px;
	font-family: "Lucida Console", "Courier New", monospace;
	size: 1em;
	border-bottom: 4px dotted #dcdcdc;
	text-align: left;
}