{{ define "index" }}

{{ template "header" . }}


<div id="middle-section">
    <div id="eventmsg"></div>
    <div id="eventlog"></div>
</div>

<div id="example-section">
    <div id="example">
        <p>
            To send message run the below <i>curl</i> command where <i>$TOKEN</i>
            is the token that this app was configured with
        </p>
        <pre>
curl -H "Content-Type: text/plain" \
    -H "ce-specversion: 0.2" \
    -H "ce-type: github.com.mchmarny.knative-ws-example.message" \
    -H "ce-source: https://github.com/mchmarny/knative-ws-example" \
    -H "ce-id: 6CC459AE-D75D-4556-8C14-CD1ED5D95AE7" \
    -H "ce-time: 2019-02-13T17:31:00Z" \
    -X POST --data "My sample message" \
    -H "ce-token: $TOKEN" \
    {{index . "proto"}}://{{index . "host"}}/v1/event
        </pre>
    </div>
</div>

{{ template "footer" . }}

{{ end }}
